* {
  margin: 0;
  padding: 0;
  color: #fff;
}
body {
  background: rgb(145, 29, 164);
  background: linear-gradient(
    90deg,
    rgba(145, 29, 164, 1) 0%,
    rgba(0, 22, 181, 1) 100%
  );
}
.conteiner {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  min-height: 100vh;
}
.title {
  padding: 0 5px;
}
.player {
  display: flex;
  position: fixed;
  flex-direction: row;
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 10px;
}
.control * {
  margin: 0 2px;
}
.duration {
  padding-top: 5px;
  width: 300px;
}
.btn.btn-primary {
  background-color: rgb(216, 0, 119);
  border-color: rgb(216, 0, 119);
}
.volume{
  width: 100px;
}