* {
  margin: 0;
  padding: 0;
}
body {
  background: rgb(145, 29, 164);
  background: linear-gradient(
    90deg,
    rgba(145, 29, 164, 1) 0%,
    rgba(0, 22, 181, 1) 100%
  );
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #fff;
}
.conteiner {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  min-height: 100vh;
}
.title {
  padding: 0 5px;
}
.player {
  display: flex;
  position: fixed;
  flex-direction: row;
}
.control * {
  margin: 0 2px;
}
.duration {
  padding-top: 5px;
  width: 300px;
}
.btn.btn-primary {
  background-color: rgb(216, 0, 119);
  border-color: rgb(216, 0, 119);
}
